<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicatie_de_gestiune.Properties.Settings.GestiuneConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\dudu\Desktop\Licenta Litrin Daniel Mihai\Gestiune.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>